body {
	text-align: center;
	font-family: monospace;
	background-color: #f8f8f8;
}

h1 {
	font-family: cursive;
	color: #655b5b;
}

p {
	margin-top: -10px;
}

.button {
	margin-top: 20px;
	margin-bottom: 40px;
}

.container-grid {
	margin: auto;
	width:800px;
	height:575px;
}

td {
	background-color: #000000;
	opacity:0.1;
}

table {
	float:right;
	width: 100%;
	height: 100%;
}